.right-side {
    position: relative;
}
.right-side .right-side-title {
    padding-left: 10px;
    height: 32px;
    background-color: #ea6f5a;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.right-side a {
    padding: 5px 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid #ea6f5a;
    border-right: 1px solid #ea6f5a;
    color: #777;
}
.right-side a:last-child {
    border-bottom: 1px solid #ea6f5a;
}
.keyword-wrap {

}