.right-side {
    position: relative;
}
.right-side .right-side-title {
    padding-left: 10px;
    height: 32px;
    color: #212121;
    font-size: 16px;
    line-height: 30px;
}
.right-side a {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #eee;
    color: #777;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
.date-wrapp {
    margin-right: 10px;
    margin-top: 3px;
    width: 32px;
    height: 34px;
    background: #C8E9DE;
    border-radius: 2px;
    color: #017E66;
    text-align: center;
}
.date-wrapp .date-up {
    font-size: 12px;
    transform: scale(0.833);
}
.date-wrapp .date-down {
    font-size: 14px;
    border-radius: 2px;
    background: #EBF7F3;
    font-weight: 500;
    margin-top: -2px;
}
.date-detail {
    margin-left: 40px;
    color: #999;
    font-size: 12px;
}
.date-detail .date-detail-title:hover {
    text-decoration: underline;
    color: #017e66;
    cursor: pointer;
}