/* siderbar css */
.side {
    padding-top: 20px;
    padding-left: 15px;
    border-right: 1px solid #eee;
    -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 3px 0 0 0 rgba(0, 0, 0, 0.03);
}
.side-toolbar .toolbar-item {
    height: 34px;
    display: flex;
    align-items: center;
    color: #757575;
    text-decoration: none;
    margin-bottom: 1px;
    border-radius: 4px;
}

.side-toolbar .toolbar-item a:hover {
    color: #008cff;
}
.side-toolbar .toolbar-item .selected {
    color: red;
    font-weight: bold;
}