/* common.css */
@font-face {
    font-family: 'iconfont';  /* project id 86754 */
    src: url('//at.alicdn.com/t/font_86754_10huqirpitxq.eot');
    src: url('//at.alicdn.com/t/font_86754_10huqirpitxq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_86754_10huqirpitxq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_86754_10huqirpitxq.woff') format('woff'),
    url('//at.alicdn.com/t/font_86754_10huqirpitxq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_86754_10huqirpitxq.svg#iconfont') format('svg');
  }
.iconfont {
    display: inline-block;
    width: 14px;
    height: 14px;
}